body{
	background-color: #d1cf7d;
}
.mainMenu{
	margin: 60px 10px 0 10px;
}

.mainMenu{
	/*text-align: justify;*/
	color: black;
	font-size: 16px;
}

.mainMenu ol li a{
	text-align: center;
	color: black;
	font-size: 16px;
}

.mainMenu ol li{
	font-weight: bold;
}

.mainMenu ol li a:hover{
	color: white;
	font-size: 17px;
	text-decoration: none;
}

.labMenu{
	text-align: justify;
}

@media (max-width: 992px){
	.scrollText{
		width: 100% !important;
	}

	.scrollText marquee h1{
		font-size: 9vw;
	}
}